%p#notice= notice
%br
%br
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Favorite:
  = @user.favorite_items.count

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
