%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Password digest:
  = @user.password_digest
%p
  %b Auto login token:
  = @user.auto_login_token

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
